<body>  
    <div class="card">
        <div class="card-header">
        Embedded System
        </div>
        <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">An embedded system is a microprocessor-based computer hardware system with software that is designed to perform a dedicated function, either as an independent system or as a part of a large system. At the core is an integrated circuit designed to carry out computation for real-time operations.</p>
        <a href="#" class="btn btn-dark" [routerLink]="['/login']" id='btn' >login</a>
        <a href="#" class="btn btn-secondary" [routerLink]="['/register']" id= 'btn1' >Register</a>
        </div>
    </div>
</body>  