<body>
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">Embedded System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/article']" routerLinkActive="active" id="navitem">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/videos']" routerLinkActive="active" id="navitem">Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/datasheet']" routerLinkActive="active" id="navitem">Datasheets</a>
        </li>
  
        </ul>
    </div>
  </nav>
  
        
  <div class="card">
        
    <div class="videos">
    <iframe width="560" height="225" src="https://www.youtube.com/embed/uFhDGagZzjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  
    </div>
    
    <div class="card"> 
    <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/PDYuYGHT668" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
     </div>
     <div class="card">
     <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/njMFczRPg6I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
    </div> 
    <div class="card">
    <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/vbaFMT9LXmg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
    </div>
    <div class="card">
    <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/DxZTPy2hccw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
    </div>
    <div class="card">
    <div class="videos">
        <iframe width="560" height="225" src="https://www.youtube.com/embed/gjiuf0ZfFNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
    </div>


</body>
