<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">Embedded System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/article']" routerLinkActive="active" id="navitem">Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/videos']" routerLinkActive="active" id="navitem">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/datasheet']" routerLinkActive="active" id="navitem">Datasheets</a>
            </li>
            </ul>
        </div>
      </nav>
      <table class="table table-hover table-bordered">
        <thead class="table ">
          <tr >
            <th scope="col">No.</th>
            <th scope="col">Datasheets</th>
            <th scope="col">Abstract</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">1</th>
            <td>LOW POWER QUAD OPERATIONAL AMPLIFIERS</td>
            <td><a class="btn btn-outline-secondary" href="https://html.alldatasheet.com/html-pdf/22753/STMICROELECTRONICS/LM324/1619/1/LM324.html" role="button" target="_blank">Link</a></td>
          </tr>
          <tr >
            <th scope="row">2</th>
            <td>QUADRUPLE OPERATIONAL AMPLIFIERS</td>
            <td><a class="btn btn-outline-secondary" href="https://html.alldatasheet.com/html-pdf/66304/INTERSIL/LM324/319/1/LM324.html" role="button" target="_blank">Link</a></td>
          </tr>
          <tr >
            <th scope="row">3</th>
            <td>Op Amp Quad GP ±16V/32V 14-Pin TSSOP W T/R
                RoHS : Compliant</td>
            <td><a class="btn btn-outline-secondary" href="https://www.arrow.com/en/products/lm324dtbr2g/on-semiconductor?utm_source=FindChips&utm_medium=buyNow" role="button" target="_blank">Link</a></td>
          </tr>
          <tr >
            <th scope="row">4</th>
            <td>Ground Sense Operational Amplifier, PK
                RoHS : Compliant</td>
            <td><a class="btn btn-outline-secondary" href="https://manufacture1.alldatasheet.com/datasheet-pdf/pdf/7760692/2260/LM324D.html" role="button" target="_blank">Link</a></td>
          </tr>
          <tr >
            <th scope="row">5</th>
            <td>QUAD OP-AMP, 7000uV OFFSET-MAX, 1MHz BAND WIDTH, PDSO14, SOIC-14</td>
            <td><a class="btn btn-outline-secondary" href="https://manufacture1.alldatasheet.com/datasheet-pdf/pdf/7760692/2260/LM324D.html" role="button" target="_blank">Link</a></td>
          </tr>
          <tr >
            <th scope="row">6</th>
            <td>QUAD OP-AMP, 9000uV OFFSET-MAX, 1MHz BAND WIDTH, PDIP14, PLASTIC, DIP-14</td>
            <td><a class="btn btn-outline-secondary" href="https://manufacture1.alldatasheet.com/datasheet-pdf/pdf/7760692/2260/LM324D.html" role="button" target="_blank">Link</a></td>
          </tr>
          <tr >
            <th scope="row">7</th>
            <td>QUAD OP-AMP, 9000uV OFFSET-MAX, 1MHz BAND WIDTH, PDIP14, PLASTIC, DIP-14</td>
            <td><a class="btn btn-outline-secondary" href="https://manufacture1.alldatasheet.com/datasheet-pdf/pdf/7760692/2260/LM324D.html" role="button" target="_blank">Link</a></td>
          </tr>
          <tr >
            <th scope="row">8</th>
            <td>QUAD OP-AMP, 9000uV OFFSET-MAX, 1MHz BAND WIDTH, PDIP14, PLASTIC, DIP-14</td>
            <td><a class="btn btn-outline-secondary" href="https://manufacture1.alldatasheet.com/datasheet-pdf/pdf/7760692/2260/LM324D.html" role="button" target="_blank">Link</a></td>
          </tr>
          <tr >
            <th scope="row">9</th>
            <td>QUAD OP-AMP, 9000uV OFFSET-MAX, 1MHz BAND WIDTH, PDIP14, PLASTIC, DIP-14</td>
            <td><a class="btn btn-outline-secondary" href="https://manufacture1.alldatasheet.com/datasheet-pdf/pdf/7760692/2260/LM324D.html" role="button" target="_blank">Link</a></td>
          </tr>
          <tr >
            <th scope="row">10</th>
            <td>QUAD OP-AMP, 9000uV OFFSET-MAX, 1MHz BAND WIDTH, PDIP14, PLASTIC, DIP-14</td>
            <td><a class="btn btn-outline-secondary" href="https://manufacture1.alldatasheet.com/datasheet-pdf/pdf/7760692/2260/LM324D.html" role="button" target="_blank">Link</a></td>
          </tr>
          
          
         
        </tbody>
      </table>
     
</body>     
